doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  section.logos
    img(src="images/anchore-logo.png" alt="Anchore logo")

  footer
    img.rocket-launch(src="images/rocket_launch.svg" alt="Rocket launching!")
    img.anchore-robot(src="images/robot_flashlight.svg" alt="Robot inspecting Anchore")
